<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EstoqueEsteticaSenac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EstoqueEsteticaSenac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EstoqueEsteticaSenac.Properties.Settings.EstoqueEsteticaConnectionString"
            connectionString="Data Source=BOT0626788W10-1\;Initial Catalog=estoqueestetica;Persist Security Info=True;User ID=sa;Password=sasenac"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EstoqueEsteticaSenac.Properties.Settings>
            <setting name="nome_usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="ultimo_login" serializeAs="String">
                <value />
            </setting>
            <setting name="admin_usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="login_atual" serializeAs="String">
                <value />
            </setting>
        </EstoqueEsteticaSenac.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EstoqueEsteticaSenac.Properties.Settings>
            <setting name="string_conexao" serializeAs="String">
                <value>Data Source=BOT0626788W10-1\;Initial Catalog=estoqueestetica;Persist Security Info=True;User ID=sa;Password=sasenac</value>
            </setting>
        </EstoqueEsteticaSenac.Properties.Settings>
    </applicationSettings>
</configuration>